UNIVERSITY
{ display:block;
text-align:center;
margin:10px 20px 10px 20px;
margin-top:12pt;
border-style:solid;
border: 2px black dotted;
font-size:15pt;
font-family:Calibri}
UNIVERSITY_NAME
{ font-style:italic;
text-align:center;
border: 2px black dotted;
 display:block;}
PASS_POINT
{ display:block;
text-align:center;
font-weight:bold;
border: 2px black dotted}
PLAN
{ display:block;
text-align:center;
border-top:solid;
border: 2px black dotted}
CITY
{ display:block;
text-align:center;
border-top:solid;
border: 2px black dotted;
}

myDocument
{
border-style:solid;
border-color:red;
}