body{background-color:hsl(51, 90%, 57%); }

#l2{color: maroon;
font-size: 49pt;
text-decoration:underline;
font-weight:500;
font-family:arial;
word-spacing: 9;
letter-spacing: -3 ;}

#l1{color: #F08080;
font-size: 30pt;
text-decoration:overline ;
font-weight:100;
font-family:TimesNewRoman;
word-spacing: 9;
letter-spacing: -3 ;}
.lp{color:255, 0, 0;
text-align: right;
word-spacing:5;
letter-spacing:1;
font-family:Calibri;}
.lp1{color:cyan;
text-align: center;
word-spacing:10;
letter-spacing:-2;
font-family:Arial;}
.lp2{color:purple;
text-align: left;
word-spacing:5;
letter-spacing:5;
font-family:Impact;}
.lp3{color:lime;
text-align: justify;
word-spacing:2;
letter-spacing:-2;
font-family:TimesNewRoman;}


